* {
  margin: 0;
  padding: 0px;
}

body {
  background-color: #e2dcdc;
}

.App {
  text-align: center;
}

header a {
  color: white;
}

header a:hover {
  color: rgb(7, 163, 184);
  border-bottom: 1px dotted;
}

a {
  color: black;
}
a:hover {
  color: rgb(11, 105, 74);
}

.loginForm input[type="username"],
input[type="password"] {
  margin: 10px;
  min-width: 40%;
  height: 40px;
  border-style: none;
  font-size: 16pt;
}

button,
input[type="submit"] {
  border: none;
  color: white;
  background-color: #00438b;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
  background-color: white;
  color: #0062ca;
  border-style: solid;
  border: 1px;
  border-color: #0062ca;
}
